@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DnD 5e Creator</h1>
    <p class="lead">The leading DnD 5E Character Creator and Organizer. Please Register a user account to get started!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <p>Product of the Future</p>
    </div>    
</div>