@import url('https://fonts.googleapis.com/css?family=Cinzel|Cinzel+Decorative');

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(../Content/Assets/index.jpg);
    background-size: cover;
    color: wheat;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-family: Cinzel;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    /*font-family: 'Cinzel Decorative', cursive;
    text-shadow: 4px 4px 4px #aaa;
    text-align: center;
    font-size: 48px;*/
    /*padding-top: 25px;
    padding-bottom: 25px;*/
    padding: 25px;
    color: wheat;
    align-content: center;
    background: rgba(20, 20, 20, 0.80);
}

.lead {
    text-align: center;
    text-shadow: 4px 4px 4px black;
    
}

.Title{
    font-size: 6vw;
    text-align: center;
}

.body-content h1 {
    font-family: "Cinzel Decorative", cursive;
    text-shadow: 6px 6px 6px black;
}

.cont {
    background: rgba(20, 20, 20, 0.80);
    border-radius: 3px;
}

.table {
    background: rgba(20, 20, 20, 0.80);
    border-radius: 3px;
}

.btn-default {
    background-color: wheat;
    color: black;
    border-color: #2F3E48;
}

    .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
        background-color: rgba(20, 20, 20, 0.80);
        color: #FFF;
        border-color: #31347B;
    }
.navynav {
    font-family: "Cinzel Decorative", cursive;
    color: black;
    /*text-shadow: 4px 4px 4px #aaa;*/
}
